footer{

    background-color: #666666;
    color: #CACACA;

    .footer-inner{
      padding: 35px;
      font-size: 88%;font-size: 88%;
      max-width: 1166px;
    margin: 0 auto;
    .footer-bottom{
text-align: center;
    }
  }
}