.info{

a{


  display: block;
  text-align: center;
  background: linear-gradient(135deg,#f55e5e,#ff9b9b);
  color: white;
  padding: .5em;
  transition: 0.3s ease-in-out;
  
  &:hover{

    opacity: 0.9;
  
  }
}
}