.main{
  margin-top: 25px;
    margin-bottom: 25px;

    .inner{
      max-width: 1500px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      padding: 35px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      &-left{
        margin-right: 2%;
       flex: 2;
&-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  word-break: break-all;
  
article{
  width: calc(50% - 0.7em);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  height: 100%;
  margin-bottom: 1.4em;
  transition: 0.3s ease-in-out;
  &:hover{
    transform: translateY(-5px);
box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);

}
  a{

    
    color: black;
  

    
figure{
  position: relative;
img{
  max-width: 100%;
  width: 100%;
  height: auto;
}
span{
  position: absolute;
  background-color: #fcee21;
  color: #3e3e3e;
  font-size: 72%;
    opacity: 0.88;
    top: -0.1px;
    right: 0;
    padding: 0.2em 0.5em;
}

}
.entry{
  padding: 1em;
  h3{
    margin: 0 0 0.4em;
      font-size: 115%;
  }
  .time{
    font-size: 75%;
    margin-right: 0.6em;
    color: #3E3E3E;
&::before{

  font-family: "Font Awesome 5 Free";
  content: "\f0e2";
  font-weight: 900;
  margin-right: .3em;
  display: inline-block;
  transform: scale(1.05);


}


  }  
.description{
  margin: 0 0 1.6em;
  line-height: 1.8;
  opacity: 0.6;
  font-size: 70%;
}
}

  }
  
  
  }

  }

nav{
  font-size: 90%;
    text-align: center;

    ul{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    li{
      margin: 0 2px 4px;
      min-width: 2.8em;
    a{
      border-color: #1bb4d3;
      color: #1bb4d3;
      margin: 0;
      display: block;
      padding: 12px 6px;
      text-decoration: none;
      line-height: 1;
      width: 100%;
      border: 2px solid;
      border-radius: 4px;
      font-weight: bold;
    }

span{
  background-color: #1bb4d3;

&.dots{
margin: 0;
display: block;
padding: 8px 6px 16px 6px;
text-decoration: none;
line-height: 1;
width: 100%;
border: 2px solid;
border-radius: 4px;
font-weight: bold;
border-color: #1bb4d3;
background-color: white;
color: #1bb4d3;
}

&.current{
  margin: 0;
  display: block;
  padding: 12px 6px;
  text-decoration: none;
  line-height: 1;
  width: 100%;
  border: 2px solid;
  border-color: #1bb4d3;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
}

}
}

  }


    }
.bottom{
  h2{
    position: relative;
    border: none;
    font-size: 125%;
    padding: 1em 1.1em;
    margin-top: 2.1em;
    margin-bottom: 1em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #13acca;
    color: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .03);
    background-color: #1bb4d3;
    color: #ffffff;
    margin-bottom: 0.75em;
  }

&-content{
  width: 100%;
  margin-bottom: 2%;

  .bottom-tittle{
    font-size: 105%;
    font-weight: bold;
    padding: 5px 0;
    margin: 0 0 5px;
    border-bottom: 2px solid;
    border-color: #1bb4d3;
  }

  .bottom-flex{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;

li{
  width: calc(25% - 10px);
  margin: 5px;
  list-style: none;
a{

  text-decoration: none;
  display: block;
  width: 100%;
  overflow: hidden;
  color: #3e3e3e;
  transition: 0.3s ease-in-out;
  &:hover{
    transform: translateY(-2px);
    opacity: 0.8;
  }
figure{
img{
  width: 100%;
  height: auto;
}

}

.bottom-text{
  display: block;
  width: 100%;
  padding: 0;
  font-size: 90%;
.tittle{
  font-size: 90%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.time{
  padding: 0 0.3em;
    font-size: 0.9em;
    opacity: .5;
    display: inline-block;
&::before {
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  content: "\f017";
  margin-right: .3em;
  display: inline-block;
  transform: scale(1.05);
}
}


}
}

}

  }
.bottom-btn{

  text-align: center;
  margin: 1.5em 0 2em;


  a{
    padding: 5px 1.2em 5px 0.5em;
    width: 230px;
    display: inline-block;
    border: 2px solid #1bb4d3;
    color: #1bb4d3;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 1px 10px rgba(0, 0, 0, 0.07);

    transition: 0.3s ease-in-out;
  


&::before{
  font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f105';
    position: absolute;
    right: 5px;
    transform: scale(0.9);

}

&:hover{
  transform: translate3d(0px, -6px, 1px);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
  background-color: #1bb4d3;
  color: #ffffff;
}


}
  }
}


}

}


}

}





.sidebar{
  font-size: 88%;
flex: 1;

  margin-top: 0;
  margin-left: auto;

  .widget{
    margin: 0 0 2.5em;
h4{
  background-color: #1bb4d3;
    color: #ffffff;
    font-size: 100%;
    padding: 0.65em 0.8em;
    margin-bottom: 0.75em;
}
&-text{

  img{
    width: 100%;
    height: auto;
  }
.btn-rich{
  margin: 0.5em 0 1em;
  text-align: center;
  a{
    display: block;
    background-color: #ee5656;
    box-shadow: 0 4px 0 #d34e4e;
    font-weight: bold;
    position: relative;
    border-radius: 0.2em;
    color: #ffffff!important;
    border: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .09);
    padding: 0.8em 5%;
    transition: 0.3s ease-in-out;
&:hover{
  
  transform: translate3d(0px, -3px, 1px);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
  box-shadow: 0 4px 0 #d34e4e, 0 1px 2px rgba(0, 0, 0, 0.07), 0 1px 10px rgba(0, 0, 0, 0.09);
  
}

  }

  .yellow{
        
    background-color: #f7cf2e;
    box-shadow: 0 4px 0 #ecb254;
    &:hover{
  
    
      box-shadow: 0 4px 0 #ecb254, 0 1px 2px rgba(0, 0, 0, 0.07), 0 1px 10px rgba(0, 0, 0, 0.09);
      
    }
}

}

}

form{
  position: relative;
  height: 45px;
  margin: 0 auto 1.5em;
  max-width: 500px;
  text-align: center;
input{
 
  width: 100%!important;
  max-width: 100%;
  padding: 12px 1%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;

}

button{
  position: absolute;
    right: 3px;
    border: 0;
    background: none;
    display: inline-block;
    height: 100%;
    padding: .6em;
    font-size: 150%;

    line-height: 1;

    &::before{
      font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f002';
}
    }
}

.new-article{

li{
list-style: none;
    border-bottom: 1px dotted rgba(125, 125, 125, 0.3);
a{
  display: flex;
  padding: 1em 1.3em 1em 0.3em;
  transition: 0.3s ease-in-out;

figure{
  width: 30%;
    max-width: 140px;
    margin-right: 3%;
  
    text-align: center;

    img{
      width: 100%;
      height: auto;
      margin: 0;
    }
}

.new-article-text{
  flex: 1;
  color: #3e3e3e;
  padding: 0em 1.3em 0em 0.3em;
  position: relative;
  &::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f105';
    position: absolute;
    right: 6px;
    line-height: 1;
    font-size: 1em;
    top: 50%;
    margin-top: -0.5em;
    color: #1bb4d3;
  }

  .time{
    color: #3e3e3e;

    &::before{
      font-family: "Font Awesome 5 Free";
      content: "\f0e2";
      font-weight: 900;
      margin-right: .3em;
      display: inline-block;
      transform: scale(1.05);

    }
  }
}
&:hover{
  opacity: 0.7;
  .new-article-text::after{
    right: 3px;
}
}

}

.d{
  transition: 0.3s ease-in-out;
  &:hover{

  box-shadow: 0 0 10px rgba(125, 125, 125, 0.5);
  transform: translateY(-2px);
}
}

}


}

&-qr{
  width: 60%;
  margin: auto;
  img{
    width: 100%;
    height: auto;
   
  }
  
}

}


  }




      
    


      .main.sidebar.widget-text.btn-rich a.yellow{
        
          background-color: #f7cf2e;
          box-shadow: 0 4px 0 #ecb254;
      }

      .main .sidebar .widget .new-article  .category {
     flex-direction: column;

    }


    .main .sidebar .widget .new-article li a .new-article-text.afternone::after {
display: none;



}

    .main .sidebar .widget .new-article li a .new-article-text.afternone {
      span{
 
        font-size: 70%;
        font-weight: bold;

     
        display: inline-block;
        padding: 0.1em 0.5em;
  
        text-align: center;
        margin-right: 0.5em;
     
        border-radius: 2px;
      
        background-color: #fcee21;
        color: #3e3e3e;
      }
      h3{
        display: inline;
      }



}


@media (max-width: 1190px) and (min-width: 768px){

  .sidebar{
    width: 100%;
 
  }
}



@media (max-width:768px){

  .main {

    
    .inner {
      flex-direction: column;
      padding: 15px;

      &-left{
  
        width: 100%;
        &-list{
       flex-direction: column;
       article{
        width:100%;
      }
    }
 
      .bottom{

        &-content{

          .bottom-flex{

            li{

              width: calc(50% - 10px);
            

            }
          }

        }

        }



        }      

        .sidebar{
        
         
          max-width: 100%;
       
          margin: auto;
        }
        

    }



  }
  


}



