.remodal-s{
  display: none;
.remodal-search{
  background: rgba(43, 46, 56, 0.9);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 
  text-align: center;
  
  padding: 10px 20px 0;


display: table;
width: 100%;
height: 100%;


  &-w{
    display: table-cell;
  
    vertical-align: middle;

    position: relative;
  
    width: 100%;
    margin-bottom: 10px;
    padding: 1em;
    transform: translate3d(0, 0, 0);
    color: #2b2e38;
    background: #fff;
    text-align: left;
    padding: .5em;
    font-size: .88em;
    background: none;
    color: #fff;
    &::before{
      content: "キーワードで記事を検索";
    }
 
form{
  position: relative;

input{

  width: 100%;

    line-height: 1.2;
    font-size: 16px;
    padding: 17px 1.5%;
}
.sb{

  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-49%);
  border: 0;
  background: none;
  display: inline-block;
  width: 1.8em;
  height: 100%;
  padding: 0 2%;
  font-size: 160%;
  &::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f002';
  }
}
  }

.close{

  display: block;
  
    margin: 1em auto;
    padding: .5em;
    cursor: pointer;
    transition: color 0.2s;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border: 0;
    outline: 0;
    background: none;
    font-size: 1.5em;

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f00d";
      font-size: 1.2em;
      display: inline-block;
      position: relative;
      top: 3px;
  }


  span{
    margin-left: .5em;
    font-size: .8em;
    display: inline-block;

  }
}

}
  }

}